/*
* @Author: Marte
* @Date:   2017-05-19 15:08:16
* @Last Modified by:   Marte
* @Last Modified time: 2017-05-22 17:10:34
*/

.navbar {
    min-height: 158px;
    margin-bottom: 0px;
    border-bottom:4px solid #009944;
}
.navbar-default {
    background-color: #fff;
}
.nav-phone span, .nav-phone a{
    display:inline-block;
    width: 192px;
    height: 44px;
    text-align:center;
    line-height:44px;
    background:#00a0e8;
    float: right;
    border-radius:3px;
    box-sizing: border-box;
    margin-top:24px;
    color:#fff;
    font-size:16px;
}
.nav-phone span{
    margin-right: 14px;
}
.nav-phone span img{
    margin: 10px;
}
.navbar-nav>li {
    padding-left: 18px;
    padding-right: 18px;
    font-size:18px;
}
.navbar-nav>li a:hover{
    color:#009944 !important;
}
.navbar-nav {
    padding-left: 330px;
    float: right;
    margin-top:22px;
}
.navbar-nav .active>a{
    background:#fff !important;
    color:#009944 !important;
}
.navbar-nav i img{
    margin-top:16px;
}
.navbar-brand h2{
    color:#008ecd;
    line-height:44px;
    font-size:36px;
}
.navbar-collapse{
    padding:0;
}



.about-us{
    position:relative;
}
.about-us-A{
    position:absolute;
    top: -144px;
    z-index: -2;
}
.about-us h2{
    color:#4f4f4f;
}
.about-us-title{
    margin-top:86px;
}
.about-us-container i img{
    margin-bottom:28px;
}
.about-us-container .under-title{
    font-size:26px;
    color:#545454;
    margin-bottom:28px;
}
.about-us-container p{
    font-size:18px;
    color:#9b9b9b;
    line-height:27px;
}
.about-us-container a{
    color:#009944;
    font-size:18px;
}


.container-fluid{
    padding: 0;
}
.advantage{
    margin-top:74px;
    position:relative;
}
.advantage-container{
    margin-top:11%;
}
.advantage-container h2{
    font-size:36px;
    color:#4f4f4f;
    margin-left:40px;
    margin-bottom:30px;
}
li{
    list-style: none;
}
.advantage-bg{
    position: absolute;
    width: 100%;
}
.advantage-right{
    margin-bottom:12%;
}
.advantage-right li{
    display:none;
}
.advantage-right-active{
    display:block !important;
}
.advantage-right img{
    width: 95%;
    height: 95%;
}
.advantage-left li {
    cursor: pointer;
    width: 210px;
    height: 60px;
    background:#fff;
    border:2px solid #009944;
    box-sizing:border-box;
    margin-bottom:24px;
    color:#4e4e4e;
    text-align:center;
    line-height:60px;
    font-size:32px;
}
.advantage-left-active{
    background:#0fa250 !important;
    color:#fff !important;
}


.product{
    margin-top: 10px;
    width: 100%;
}
.product h1{
    font-size:36px;
    color:#4f4f4f;
    margin-left:15px;
    margin-bottom:50px;
}
.product-item h2{
    margin-bottom:16px;
    color:#009944;
}
.product-item img{
    margin-bottom:12px;
    width: 100%;
}
.product-item a{
    display:block;
    background:#00a348;
    border:1px solid #007f38;
    color:#fff;
    width: 176px;
    height: 36px;
    text-align:center;
    line-height:36px;
    font-size:18px;
    margin: 0 auto;
    text-decoration: none;
}
.product div:nth-of-type(even){
    margin-top:38px;
}
.product-down{
    width: 100%;
}


.video{
    margin-top:112px;
}
.video-left img{
    width: 100%;
}
.video-right h2{
    font-size:26px;
    color:#6b6b6b;
    margin-top:10px;
    margin-bottom:16px;
}
.video-right p{
    font-size:21px;
    color:#a1a1a1;
}
.video-right a{
    display: block;
    font-size:18px;
    color:#009944;
    margin-top:20px;
}


.footer{
    width: 100%;
    position: relative;
    margin-top:10%;
    color:#fff;
}
.footer>img{
    width: 100%;
    position:absolute;
    z-index: -10;
}
.footer-container{
    text-align:center;
    padding-top:6%;
}
.footer-container h1{
    font-size:60px;
}
.footer-container h1 img{
    margin-right: 20px;
}
.footer-container h2{
    font-size:24px;
    font-weight:600;
}
.footer-container-address{
    font-size:22px;
}
.footer-container-num{
    display: block;
    font-size:48px;
    font-weight:600;
    margin-top:3%;
    margin-bottom: 3%;
}
.footer-container-num img{
    margin-right:10px;
}
.footer-container ul{
    width: 280px;
    margin:6% auto;
}
.footer-container ul li{
    float: left;
}
.footer-container ul li:nth-of-type(2){
    margin-left:70px;
    margin-right:70px;
}
.footer-container p{
    margin-top:6%;
}