@media (max-width: 1200px) {
  .navbar {
    min-height: 100px !important;
  }
  .navbar-nav li {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .navbar-brand img {
    height: 100px;
  }
  .navbar-brand h2 {
    font-size: 30px !important;
    line-height: 34px !important;
  }
  .nav-phone a,
  .nav-phone span {
    width: 170px !important;
    height: 34px !important;
    font-size: 14px !important;
    line-height: 34px !important;
  }
  .nav-phone a img,
  .nav-phone span img {
    height: 18px !important;
    margin: 5px !important;
  }
  .advantage {
    margin-bottom: 140px !important;
  }
  .advantage-container {
    margin-top: 0px !important;
  }
  .advantage-container h2 {
    margin-top: 90px !important;
    margin-bottom: 30px !important;
    margin-left: 40px !important;
    font-size: 30px !important;
  }
  .advantage-container .advantage-exterior-left {
    width: 411.6px !important;
    height: 270.2px !important;
  }
  .advantage-container .advantage-exterior-right {
    left: 434px !important;
    width: 245px !important;
    height: 270.2px !important;
  }
  .product h1 {
    margin-left: 14px !important;
  }
  .product .product-item h2 {
    margin-bottom: 16px;
    color: #009944;
    font-size: 24px;
  }
  .video-left > div {
    width: 100% !important;
  }
  .video-right h2 {
    font-size: 20px !important;
  }
  .video-right p {
    height: 180px;
    overflow: hidden;
  }
  .footer-container h1 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .footer-container h2 {
    font-size: 26px !important;
    margin-top: 0px;
  }
  .footer-container .footer-container-address {
    font-size: 26px !important;
  }
  .footer-container .footer-container-num {
    font-size: 30px !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }
  .footer-container .footer-container-num img {
    width: 33px !important;
    height: 38px !important;
  }
  .footer-container ul {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .footer-container p {
    margin-top: 20px !important;
  }
}
@media (max-width: 992px) {
  #searchform {
    margin-top: 192px !important;
  }
  .navbar-nav {
    padding-left: 0px !important;
    float: left !important;
    margin-top: 80px !important;
  }
  .advantage {
    margin-bottom: 100px !important;
  }
  .advantage-right .advantage-exterior-left {
    width: 294px !important;
    height: 193px !important;
  }
  .advantage-right .advantage-exterior-right {
    left: 310px !important;
    width: 175px !important;
    height: 193px !important;
  }
  .advantage-right li:nth-of-type(2) {
    margin-top: 100px !important;
    margin-left: 20px !important;
  }
  .advantage-left li {
    width: 130px !important;
    height: 36px !important;
    margin-bottom: 12px !important;
    line-height: 36px !important;
    font-size: 22px !important;
  }
  .video-right p {
    height: 96px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .footer-container h1 {
    font-size: 26px !important;
    margin-top: 0 !important;
  }
  .footer-container h1 img {
    height: 40px !important;
  }
  .footer-container h2 {
    font-size: 20px !important;
    margin-top: 0px;
  }
  .footer-container .footer-container-address {
    font-size: 20px !important;
  }
  .footer-container .footer-container-num {
    font-size: 26px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .footer-container .footer-container-num img {
    width: 20px !important;
    height: 25px !important;
  }
  .footer-container ul {
    width: 200px !important;
  }
  .footer-container ul li:nth-of-type(2) {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .footer-container ul img {
    height: 18px;
  }
  .footer-container p {
    margin-top: 10px !important;
  }
}
@media (max-width: 767px) {
  .navbar {
    min-height: 100px !important;
  }
  .navbar .navbar-collapse img {
    left: 0 !important;
    bottom: 0 !important;
    margin-bottom: 10px !important;
  }
  .navbar .nav-phone .phone2 {
    position: absolute !important;
    width: 130px !important;
    height: 30px !important;
    text-align: center !important;
    line-height: 30px !important;
    top: 0px !important;
    right: 70px !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
  }
  .navbar .nav-phone span {
    position: absolute !important;
    width: 130px !important;
    height: 30px !important;
    text-align: center !important;
    line-height: 30px !important;
    top: 0px !important;
    right: 70px !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
  }
  .navbar .nav-phone span img {
    display: none;
  }
  .navbar .nav-phone a {
    position: absolute !important;
    width: 130px !important;
    height: 30px !important;
    text-align: center !important;
    line-height: 30px !important;
    top: 0px !important;
    right: 70px !important;
    border-radius: 3px !important;
    box-sizing: border-box !important;
    font-size: 14px !important;
    top: 36px !important;
    right: 84px !important;
  }
  .container {
    position: relative;
  }
  .navbar-nav {
    margin-top: 0px !important;
  }
  .navbar-nav > li {
    padding-top: 0px;
  }
  .navbar-nav .navbar-nav-search {
    margin-left: 15px;
  }
  .navbar-header .navbar-toggle {
    margin-top: 24px;
    margin-bottom: 64px;
  }
  .navbar-header .navbar-brand {
    padding-right: 0 !important;
  }
  .navbar-header .navbar-brand img {
    height: 80px !important;
  }
  .navbar-header .navbar-brand h2 {
    line-height: 30px !important;
    font-size: 26px !important;
    margin-top: 10px !important;
  }
  .about-us-title .col-sm-4 {
    margin-bottom: 20px;
  }
  .about-us-A {
    margin-top: 20px;
  }
  .advantage {
    margin-top: 20px !important;
  }
  .advantage h2 {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    font-size: 30px !important;
  }
  .advantage .advantage-container {
    margin-top: 2rem !important;
  }
  .advantage .advantage-container .advantage-exterior-left {
    width: 176.4px !important;
    height: 115.8px !important;
  }
  .advantage .advantage-container .advantage-exterior-right {
    left: 204.6px !important;
    width: 105px !important;
    height: 115.8px !important;
  }
  .advantage .advantage-container .advantage-left li {
    float: left;
    @im width: 120px @im;
    height: 40px !important;
    margin-bottom: 0px !important;
    line-height: 40px !important;
    font-size: 18px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
  }
  .video {
    margin-top: 20px !important;
  }
  .video h2 {
    margin-bottom: 20px !important;
    text-align: center;
  }
  .footer-container h1 {
    font-size: 20px !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-container h1 img {
    display: none;
  }
  .footer-container h2 {
    font-size: 14px !important;
    margin-top: -10px !important;
    margin-bottom: 0px !important;
  }
  .footer-container .footer-container-address {
    font-size: 14px !important;
  }
  .footer-container .footer-container-num {
    font-size: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .footer-container .footer-container-num img {
    width: 13px !important;
    height: 17px !important;
  }
  .footer-container p {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar {
    min-height: 80px !important;
  }
  .navbar .navbar-collapse img {
    left: 0 !important;
    bottom: 0 !important;
    margin-bottom: 10px !important;
  }
  .navbar .nav-phone {
    display: none;
  }
  .container {
    position: relative;
  }
  .navbar-header .navbar-toggle {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .navbar-header .navbar-brand {
    padding: 15px 0 !important;
  }
  .navbar-header .navbar-brand img {
    height: 50px !important;
    margin-right: 10px;
  }
  .navbar-header .navbar-brand h2 {
    line-height: 20px !important;
    font-size: 18px !important;
    margin-top: 5px !important;
  }
  .about-us-title .col-sm-4 {
    margin-bottom: 20px;
  }
  .advantage {
    margin-top: 20px !important;
    margin-bottom: 190px !important;
  }
  .advantage h2 {
    margin-left: 0px !important;
    margin-top: 20px !important;
    margin-bottom: 6px !important;
    font-size: 20px !important;
  }
  .advantage .advantage-container {
    margin-top: 1rem !important;
  }
  .advantage .advantage-container .advantage-right .advantage-exterior-left {
    width: 200px !important;
  }
  .advantage .advantage-container .advantage-right li:nth-of-type(2) {
    margin-top: 50px !important;
  }
  .advantage .advantage-container .advantage-left {
    margin-left: -40px !important;
  }
  .advantage .advantage-container .advantage-left li {
    float: left;
    width: 100px !important;
    height: 30px !important;
    line-height: 30px !important;
    font-size: 16px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
  }
  .video {
    margin-top: 20px !important;
  }
  .video h2 {
    text-align: center;
    margin-bottom: 20px !important;
  }
  .footer-container h1 {
    font-size: 16px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .footer-container h2 {
    font-size: 12px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .footer-container .footer-container-address {
    font-size: 12px !important;
  }
  .footer-container .footer-container-num {
    font-size: 16px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
.navigation_menu {
  border-bottom: 4px solid #009944;
  background: #fff;
}
.navbar {
  min-height: 108px;
  margin-bottom: 0px;
  border-bottom: 4px solid #009944;
  background-color: #fff;
  border: none;
}
.navbar .navbar-collapse {
  padding: 0;
  position: relative;
}
.navbar .navbar-collapse img {
  position: absolute;
  right: 0;
  bottom: 17px;
  cursor: pointer;
}
.navbar .navbar-collapse #searchform {
  width: 400px;
  position: absolute;
  right: 0;
  margin-top: 156px;
  transition: 0.5s;
  opacity: 0;
}
.navbar .nav-phone .phone {
  display: inline-block;
  width: 182px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  background: #00a0e8;
  float: right;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 24px;
  color: #fff;
  font-size: 16px;
}
.navbar .nav-phone span {
  display: inline-block;
  width: 182px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  background: #00a0e8;
  float: right;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 24px;
  color: #fff;
  font-size: 16px;
  margin-right: 14px;
}
.navbar .nav-phone span img {
  margin: 10px;
}
.navbar .nav-phone a {
  display: inline-block;
  width: 182px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  background: #00a0e8;
  float: right;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 24px;
  color: #fff;
  font-size: 16px;
}
.navbar .navbar-nav {
  padding-left: 330px;
  float: right;
  margin-top: 34px;
  padding-right: 44px;
}
.navbar .navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}
.navbar .navbar-nav > li a {
  color: #262626;
}
.navbar .navbar-nav > li a:hover {
  color: #009944 !important;
}
.navbar .navbar-nav .active a {
  background: #fff !important;
  color: #009944 !important;
}
.navbar .navbar-nav img {
  margin-top: 16px;
  cursor: pointer;
}
.navbar .navbar-brand h2 {
  color: #008ecd;
  line-height: 44px;
  font-size: 36px;
}
#myCarousel {
  z-index: -11;
}
#myCarousel .carousel-indicators,
#myCarousel .carousel-control {
  display: none;
}
#myCarousel .flyin {
  width: 12.41557131rem;
  height: 1.42933214rem;
  top: 3.05484712rem;
  left: 3.25102996rem;
  position: absolute;
}
.kadima_service {
  display: none;
}
.about-us {
  position: relative;
  font-family: "Open Sans";
}
.about-us h2 {
  font-family: "Open Sans";
  margin-top: 40px;
  color: #4f4f4f;
  font-size: 36px;
}
.about-us .about-us-title {
  margin-top: 80px;
}
.about-us .about-us-title .about-us-container img {
  width: 23px;
  height: 23px;
  margin-bottom: 28px;
}
.about-us .about-us-title .about-us-container .under-title {
  font-size: 26px;
  color: #545454;
  margin-bottom: 28px;
}
.about-us .about-us-title .about-us-container p {
  font-size: 18px;
  color: #9b9b9b;
  line-height: 27px;
}
.about-us .about-us-title .about-us-container a {
  color: #009944;
  font-size: 18px;
}
.container-fluid {
  padding: 0;
}
li {
  list-style: none;
}
.advantage {
  margin-top: 74px;
  position: relative;
  margin-bottom: 294px;
}
.advantage .advantage-bg {
  position: absolute;
  width: 100%;
}
.advantage .advantage-container {
  margin-top: 2rem;
}
.advantage .advantage-container h2 {
  margin-top: 102px;
  font-size: 36px;
  color: #4f4f4f;
  margin-left: 2px;
  margin-bottom: 100px;
  font-family: "Open Sans";
}
.advantage .advantage-container .advantage-right {
  margin-bottom: 12%;
  position: relative;
}
.advantage .advantage-container .advantage-right li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.advantage .advantage-container .advantage-right li:nth-of-type(2) {
  margin-top: 100px;
}
.advantage .advantage-container .advantage-right li:nth-of-type(1) {
  margin-top: 50px;
}
.advantage .advantage-container .advantage-right li .advantage-exterior-left {
  display: inline-block;
  float: left;
  width: 588px;
  height: 386px;
  transition: 0.5s;
}
.advantage .advantage-container .advantage-right li .advantage-exterior-left img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.advantage .advantage-container .advantage-right li .advantage-exterior-right {
  display: inline-block;
  position: absolute;
  left: 620px;
  width: 350px;
  height: 386px;
  transition: 0.5s;
}
.advantage .advantage-container .advantage-right li .advantage-exterior-right img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.advantage .advantage-container .advantage-right li .advantage-mechanical {
  padding: 0;
  margin-top: 4%;
  width: 45%;
  margin-left: 4%;
}
.advantage .advantage-container .advantage-right li .advantage-mechanical img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.advantage .advantage-container .advantage-right .advantage-right-active {
  opacity: 1 !important;
  z-index: 10;
}
.advantage .advantage-container .advantage-right img {
  width: 95%;
  height: 95%;
}
.advantage .advantage-container .advantage-left li {
  font-family: "Open Sans";
  cursor: pointer;
  width: 180px;
  height: 46px;
  background: #fff;
  border: 2px solid #009944;
  box-sizing: border-box;
  margin-bottom: 24px;
  color: #4e4e4e;
  text-align: center;
  line-height: 46px;
  font-size: 30px;
  font-weight: 100;
}
.advantage .advantage-container .advantage-left li:hover {
  background: #009944 ;
  color: #fff;
}
.advantage .advantage-container .advantage-left .advantage-left-active {
  background: #0fa250 !important;
  color: #fff !important;
}
.product {
  margin-top: 10px;
  width: 100%;
  font-family: "Open Sans";
}
.product h1 {
  font-family: "Open Sans";
  font-size: 36px;
  color: #4f4f4f;
  margin-left: 0px;
  margin-bottom: 54px;
}
.product .product-item h2 {
  margin-bottom: 16px;
  color: #009944;
  font-family: "Open Sans";
}
.product .product-item img {
  margin-bottom: 12px;
  width: 100%;
  opacity: 1;
  transition: .5s;
  cursor: pointer;
}
.product .product-item img:hover {
  opacity: 0.7;
}
.product .product-item a {
  display: block;
  border: 1px solid #007f38;
  color: #009944;
  width: 176px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
}
.product .product-item a:hover {
  background: #009944;
  color: #fff;
}
.product .product-item:nth-of-type(even) {
  margin-top: 38px;
}
.product .product-down {
  width: 100%;
}
.video {
  margin-top: 112px;
  font-family: "Open Sans";
}
.video .video-right h2 {
  font-size: 26px;
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 16px;
}
.video .video-right p {
  font-size: 18px;
  color: #a1a1a1;
  line-height: 34px;
}
.video .video-right a {
  display: block;
  font-size: 18px;
  color: #009944;
  margin-top: 20px;
}
.footer {
  width: 100%;
  position: relative;
  margin-top: 2rem;
  color: #fff;
}
.footer > img {
  width: 100%;
  position: absolute;
  z-index: -10;
}
.footer .footer-container {
  text-align: center;
  padding-top: 1.8rem;
}
.footer .footer-container h1 {
  font-size: 36px;
  margin-bottom: 80px;
}
.footer .footer-container h1 img {
  height: 50px;
  margin-right: 20px;
}
.footer .footer-container h2 {
  font-size: 24px;
  font-family: "Open Sans";
}
.footer .footer-container .footer-container-address {
  font-size: 24px;
  font-family: "Open Sans";
}
.footer .footer-container .footer-container-num {
  display: block;
  font-size: 36px;
  margin-top: 0.2802612rem;
  margin-bottom: 0.2802612rem;
  font-family: "Open Sans";
}
.footer .footer-container .footer-container-num img {
  margin-right: 0.1401306rem;
}
.footer .footer-container ul {
  width: 280px;
  margin: 1rem auto;
}
.footer .footer-container ul li {
  float: left;
  font-size: 0.33631344rem;
}
.footer .footer-container ul li a {
  color: #fff;
}
.footer .footer-container ul li:nth-of-type(2) {
  margin-left: 70px;
  margin-right: 70px;
}
.footer .footer-container p {
  margin-top: 1.5rem;
  font-family: "Open Sans";
}
.footer1 {
  width: 100%;
  height: 158px;
  border-top: 4px solid #009944;
  font-family: "Open Sans";
}
.footer1 .footer-container1 {
  text-align: center;
}
.footer1 .footer-container1 h1 {
  font-size: 36px;
}
.footer1 .footer-container1 h2 {
  font-size: 24px;
  display: inline;
}
.footer1 .footer-container1 .footer-container-address1 {
  font-size: 24px;
}
.footer1 .footer-container1 .footer-container-num1 {
  display: block;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer1 .footer-container1 .footer-container-num1 img {
  margin-right: 10px;
}
.footer1 .footer-container1 p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.kadima_scrollup {
  width: 45px;
  height: 40px;
  opacity: 0.5;
  position: fixed;
  bottom: 100px;
  right: 30px;
  display: none;
  border-radius: 2px;
  text-align: center;
  color: #fafafa;
  /*font-size: 25x;*/
  background: #3b3b3b;
  z-index: 9999;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.kadima_scrollup:hover {
  opacity: 0.8;
}
.kadima_scrollup:hover i {
  text-decoration: none;
  color: #fafafa;
  outline: none;
}
.kadima_scrollup:focus i {
  text-decoration: none;
  color: #fafafa;
  outline: none;
}
.kadima_scrollup i {
  line-height: 38px;
  font-size: 24px;
  vertical-align: middle;
}
