@im:!important;

@media (max-width: 1200px) {
  .navbar{
    min-height: 100px @im;
  }
  .navbar-nav {
    li{
      padding-left: 0px @im;
      padding-right: 0px @im;
    }
  }
  .navbar-brand{
    img{
      height: 100px;
    }
    h2{
      font-size: 32px @im;
      line-height: 34px @im;
    }
  }
  .nav-phone{
    a,span{
      width: 170px @im;
      height:34px @im;
      font-size: 14px @im;
      line-height: 34px @im;
      img{
        height: 18px @im;
        margin: 5px @im;
      }
    }
  }

  .advantage-left {
    li{
      width: 180px @im;
      height: 52px @im;
      margin-bottom:20px @im;
      line-height:52px @im;
      font-size:28px @im;
    }
  }
  .advantage-container {
    h2{
      font-size:32px @im;
    }
  }
  .product{
    .product-item {
      h2 {
        margin-bottom: 16px;
        color: #009944;
        font-size: 22px;
      }
    }
  }
  .video-right {
    h2{
      font-size:20px @im;
    }
    p{
      height: 183px;
      overflow: hidden;
    }
  }
  .footer-container {
    h1{
      font-size:44px;
      img{
        width: 8%;
        height: 8%;
      }
    }
    h2{
      font-size:20px;
      margin-top:0px;
    }
    .footer-container-address{
      font-size:18px;
    }
    .footer-container-num{
      font-size:38px;
      font-weight:500;
      margin-top:14px;
      margin-bottom: 14px;
      img{
        width: 33px;
        height:38px;
      }
    }
    ul{
      img{
        height:24px;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-nav{
    padding-left:0px @im;
    float: left @im;
    margin-top:80px @im;
  }
  .advantage-left {
    li{
      width: 120px @im;
      height: 36px @im;
      margin-bottom:12px @im;
      line-height:36px @im;
      font-size:22px @im;
    }
  }
  .video-right {
    p{
      height: 96px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
  .footer-container {
    h1{
      font-size:32px;
      img{
        width: 8%;
        height: 8%;
      }
    }
    h2{
      font-size:16px;
      margin-top:0px;
    }
    .footer-container-address{
      font-size:14px;
    }
    .footer-container-num{
      font-size:28px;
      font-weight:500;
      margin-top:8px;
      margin-bottom: 8px;
      img{
        width: 27px;
        height:32px;
      }
    }
    ul{
      width: 200px;
      li{
        &:nth-of-type(2){
          margin-left:50px;
          margin-right:50px;
        }
      }
      img{
        height:18px;
      }
    }
    p{
      margin-top:12px;
    }
  }
}
@media (max-width: 767px) {
  .navbar{
    min-height:100px @im;
    .navbar-collapse{
      img{
        left: 0 @im;
        bottom: 0 @im;
        margin-bottom: 10px @im;
      }
    }
    .nav-phone {
      .phone2{
        position:absolute @im;
        width: 130px @im;
        height: 30px @im;
        text-align:center @im;
        line-height:30px @im;
        top: 0px @im;
        right: 70px @im;
        border-radius:3px @im;
        box-sizing: border-box @im;
        font-size:14px @im;
      }
      span{
        .phone2;
        img{
          display: none;
        }
      }
      a{
        .phone2;
        top: 36px @im;
        right:84px @im;
      }
    }
  }
  .container{
    position:relative;
  }
  .navbar-nav{
    margin-top:0px @im;
    padding-bottom: 20px;
    padding-top: 30px;
    &>li{
      padding-top: 0px;
    }
    .navbar-nav-search{
      margin-left:15px;
    }
  }
  .navbar-header {
    .navbar-toggle{
      margin-top: 24px;
      margin-bottom: 64px;
    }
    .navbar-brand {
      padding-right: 0 @im;
      img{
        height: 80px @im;
      }
      h2{
        line-height:30px @im;
        font-size:26px @im;
        margin-top:10px @im;
      }
    }
  }
  .about-us-title {
    .col-sm-4{
      margin-bottom:20px;
    }
  }
  .about-us-A{
    margin-top:20px;
  }
  .advantage{
    margin-top: 20px @im;
    h2{
      margin-top: 30px @im;
      margin-bottom: 10px @im;
      font-size: 30px @im;
    }
    .advantage-container{
      margin-top:2rem @im;
      .advantage-left {
        li{
          width: 100px @im;
          height: 30px @im;
          margin-bottom:10px @im;
          line-height:30px @im;
          font-size:18px @im;
          margin-right:0px @im;
          cursor: pointer @im;
        }
      }
    }
  }
  .footer-container {
    h1{
      font-size:16px;
      margin-top:0;
      margin-bottom:0;
      img{
        width: 8%;
        height: 8%;
      }
    }
    h2{
      font-size:14px;
      margin-top:0;
      margin-bottom:0;
    }
    .footer-container-address{
      font-size:12px;
    }
    .footer-container-num{
      font-size:14px;
      font-weight:500;
      margin-top:0px;
      margin-bottom: 0px;
      img{
        width: 12px;
        height:15px;
      }
    }
    ul{
      width: 160px @im;
      img{
        height:12px;
      }
      li{
        &:nth-of-type(2){
          margin-left:30px @im;
          margin-right:30px @im;
        }
      }
    }
    p{
      margin-top:0px;
      font-size:12px;
    }
  }
}

@media (max-width: 480px) {
  .navbar{
    min-height:80px @im;
    .navbar-collapse{
      img{
        left: 0 @im;
        bottom: 0 @im;
        margin-bottom: 10px @im;
      }
    }
    .nav-phone {
      display: none;
    }
  }
  .container{
    position:relative;
  }
  .navbar-nav{
    margin-top:20px @im;
    padding-bottom: 30px;
    &>li{
      padding-top: 0px;
    }
    .navbar-nav-search{
      margin-left:15px;
    }
  }
  .navbar-header {
    .navbar-toggle{
      margin-top: 24px;
      margin-bottom: 20px;
    }
    .navbar-brand {
      padding:15px 0 @im;
      img{
        height: 50px @im;
        margin-right: 10px;
      }
      h2{
        line-height:20px @im;
        font-size:18px @im;
        margin-top:5px @im;
      }
    }
  }
  #searchform{
    width: 100% @im;
}
  .about-us-title {
    .col-sm-4{
      margin-bottom:20px;
    }
  }
  .about-us-A{
    margin-top:20px;
  }
  .advantage{
    margin-top: 20px @im;
    margin-bottom: 0 @im;
    h2{
      margin-left: 0px @im;
      margin-top: 20px @im;
      margin-bottom: 6px @im;
      font-size: 20px @im;
    }
    .advantage-container{
      margin-top:1rem @im;
      .advantage-left {
        margin-left: -30px @im;
        li{
          width: 80px @im;
          height: 20px @im;
          margin-bottom:10px @im;
          line-height:20px @im;
          font-size:12px @im;
          margin-right:0px @im;
          cursor: pointer @im;
        }
      }
    }
  }
  .footer-container {
    h1{
      font-size:12px;
      margin-top:0;
      margin-bottom:0;
      img{
        width: 8%;
        height: 8%;
      }
    }
    h2{
      font-size:12px;
      margin-top:0;
      margin-bottom:0;
    }
    .footer-container-address{
      font-size:12px;
    }
    .footer-container-num{
      font-size:12px;
      font-weight:500;
      margin-top:0px;
      margin-bottom: 0px;
      img{
        width: 12px;
        height:15px;
      }
    }
    ul{
      width: 160px;
      img{
        height:12px;
      }
      li{
        &:nth-of-type(2){
          margin-left:30px @im;
          margin-right:30px @im;
        }
      }
    }
    p{
      margin-top:0px;
      font-size:12px;
    }
  }
}
