@im:!important;

@media (max-width: 1200px) {
  .navbar{
    min-height: 100px @im;
  }
  .navbar-nav {
    li{
      padding-left: 0px @im;
      padding-right: 0px @im;
    }
  }
  .navbar-brand{
    img{
      height: 100px;
    }
    h2{
      font-size: 30px @im;
      line-height: 34px @im;
    }
  }
  .nav-phone{
    a,span{
      width: 170px @im;
      height:34px @im;
      font-size: 14px @im;
      line-height: 34px @im;
      img{
        height: 18px @im;
        margin: 5px @im;
      }
    }
  }
  .advantage{
    margin-bottom: 140px @im;
  }
  .advantage-container{
    margin-top: 0px @im;
    h2{
      margin-top: 90px @im;
      margin-bottom:30px @im;
      margin-left:40px @im;
      font-size: 30px @im;
    }
    .advantage-exterior-left{
      width: 588px*0.7 @im;
      height: 386px*0.7 @im;
    }
    .advantage-exterior-right{
      left: 620px*0.7 @im;
      width: 350px*0.7 @im;
      height: 386px*0.7 @im;
    }
  }
  .product{
    h1{
      margin-left: 14px @im;
    }
    .product-item {
      h2 {
        margin-bottom: 16px;
        color: #009944;
        font-size: 24px;
      }
    }
  }
  .video-left{
    &>div{
      width:100% @im;
    }
  }
  .video-right {
    h2{
      font-size:20px @im;
    }
    p{
      height: 180px;
      overflow: hidden;
    }
  }
  .footer-container {
    h1{
      font-size:30px @im;
      margin-bottom: 20px @im;
    }
    h2{
      font-size:26px @im;
      margin-top:0px;
    }
    .footer-container-address{
      font-size:26px @im;
    }
    .footer-container-num{
      font-size:30px @im;
      margin-top:10px @im;
      margin-bottom: 0px @im;
      img{
        width: 33px @im;
        height:38px @im;
      }
    }
    ul{
      margin-top: 20px @im;
      margin-bottom: 20px @im;
    }
    p{
      margin-top:20px @im;
    }
  }
}

@media (max-width: 992px) {
  #searchform{
    margin-top: 192px @im;
  }
  .navbar-nav{
    padding-left:0px @im;
    float: left @im;
    margin-top:80px @im;
  }
  .advantage{
    margin-bottom: 100px @im;
  }
  .advantage-right{
    .advantage-exterior-left{
      width: 588px*0.5 @im;
      height: 386px*0.5 @im;
    }
    .advantage-exterior-right{
      left: 620px*0.5 @im;
      width: 350px*0.5 @im;
      height: 386px*0.5 @im;
    }
    li{
      &:nth-of-type(2){
        margin-top: 100px @im;
        margin-left: 20px @im;
      }
    }
  }
  .advantage-left {
    li{
      width: 130px @im;
      height: 36px @im;
      margin-bottom:12px @im;
      line-height:36px @im;
      font-size:22px @im;
    }
  }

  .video-right {
    p{
      height: 96px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
  .footer-container {
    h1{
      font-size:26px @im;
      margin-top: 0 @im;
      img{
        height: 40px @im;
      }
    }
    h2{
      font-size:20px @im;
      margin-top:0px;
    }
    .footer-container-address{
      font-size:20px @im;
    }
    .footer-container-num{
      font-size:26px @im;
      margin-top:0px @im;
      margin-bottom: 0px @im;
      img{
        width: 20px @im;
        height: 25px @im;
      }
    }
    ul{
      width: 200px @im;
      li{
        &:nth-of-type(2){
          margin-left:50px @im;
          margin-right:50px @im;
        }
      }
      img{
        height:18px;
      }
    }
    p{
      margin-top:10px @im;
    }
  }
}
@media (max-width: 767px) {
  .navbar{
    min-height:100px @im;
    .navbar-collapse{
      img{
        left: 0 @im;
        bottom: 0 @im;
        margin-bottom: 10px @im;
      }
    }
    .nav-phone {
      .phone2{
        position:absolute @im;
        width: 130px @im;
        height: 30px @im;
        text-align:center @im;
        line-height:30px @im;
        top: 0px @im;
        right: 70px @im;
        border-radius:3px @im;
        box-sizing: border-box @im;
        font-size:14px @im;
      }
      span{
        .phone2;
        img{
          display: none;
        }
      }
      a{
        .phone2;
        top: 36px @im;
        right:84px @im;
      }
    }
  }
  .container{
    position:relative;
  }
  .navbar-nav{
    margin-top:0px @im;
    &>li{
      padding-top: 0px;
    }
    .navbar-nav-search{
      margin-left:15px;
    }
  }
  .navbar-header {
    .navbar-toggle{
      margin-top: 24px;
      margin-bottom: 64px;
    }
    .navbar-brand {
      padding-right: 0 @im;
      img{
        height: 80px @im;
      }
      h2{
        line-height:30px @im;
        font-size:26px @im;
        margin-top:10px @im;
      }
    }
  }
  .about-us-title {
    .col-sm-4{
      margin-bottom:20px;
    }
  }
  .about-us-A{
    margin-top:20px;
  }
  .advantage{
    margin-top: 20px @im;
    h2{
      margin-top: 30px @im;
      margin-bottom: 10px @im;
      font-size: 30px @im;
    }
    .advantage-container{
      margin-top:2rem @im;
      .advantage-exterior-left{
        width: 588px*0.3 @im;
        height: 386px*0.3 @im;
      }
      .advantage-exterior-right{
        left: 620px*0.33 @im;
        width: 350px*0.3 @im;
        height: 386px*0.3 @im;
      }
      .advantage-left {
        li{
          float: left; @im
          width: 120px @im;
          height: 40px @im;
          margin-bottom:0px @im;
          line-height:40px @im;
          font-size:18px @im;
          margin-right:10px @im;
          cursor: pointer @im;
        }
      }
    }
  }
  .video{
    margin-top: 20px @im;
    h2{
      margin-bottom: 20px @im;
      text-align: center;
    }
  }
  .footer-container {
    h1{
      font-size:20px @im;
      margin-top:0;
      margin-bottom:0;
      img{
        display: none;
      }
    }
    h2{
      font-size:14px @im;
      margin-top:-10px @im;
      margin-bottom:0px @im;
    }
    .footer-container-address{
      font-size:14px @im;
    }
    .footer-container-num{
      font-size:20px @im;
      margin-top:0px @im;
      margin-bottom: 0px @im;
      img{
        width: 13px @im;
        height:17px @im;
      }
    }
    p{
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .navbar{
    min-height:80px @im;
    .navbar-collapse{
      img{
        left: 0 @im;
        bottom: 0 @im;
        margin-bottom: 10px @im;
      }
    }
    .nav-phone {
      display: none;
    }
  }
  .container{
    position:relative;
  }
  .navbar-header {
    .navbar-toggle{
      margin-top: 24px;
      margin-bottom: 20px;
    }
    .navbar-brand {
      padding:15px 0 @im;
      img{
        height: 50px @im;
        margin-right: 10px;
      }
      h2{
        line-height:20px @im;
        font-size:18px @im;
        margin-top:5px @im;
      }
    }
  }
  .about-us-title {
    .col-sm-4{
      margin-bottom:20px;
    }
  }
  .advantage{
    margin-top: 20px @im;
    margin-bottom: 190px @im;
    h2{
      margin-left: 0px @im;
      margin-top: 20px @im;
      margin-bottom: 6px @im;
      font-size: 20px @im;
    }
    .advantage-container{
      margin-top:1rem @im;
      .advantage-right{
        .advantage-exterior-left{
          width: 200px @im;
        }
        li{
          &:nth-of-type(2){
            margin-top: 50px @im;
          }
        }
      }
      .advantage-left {
        margin-left: -40px @im;
        li{
          float: left;
          width: 100px @im;
          height: 30px @im;
          line-height:30px @im;
          font-size:16px @im;
          margin-right:10px @im;
          cursor: pointer @im;
        }
      }
    }
  }
  .video {
    margin-top: 20px @im;
    h2 {
      text-align: center;
      margin-bottom: 20px @im;
    }
  }
  .footer-container {
    h1{
      font-size:16px @im;
      margin-top:0 @im;
      margin-bottom:0 @im;
    }
    h2{
      font-size:12px @im;
      margin-top:0 @im;
      margin-bottom:0 @im;
    }
    .footer-container-address{
      font-size:12px @im;
    }
    .footer-container-num{
      font-size:16px @im;
      margin-top:0px @im;
      margin-bottom: 0px @im;
    }
  }
}
